# **Logic**

In [12]:
nama = 'Sasuke'
umur = 10
jomblo = False

#### If

In [13]:
if jomblo:
    print("Sasuke jomblo")

In [14]:
if not jomblo:
    print("Sasuke jomblo")

Sasuke jomblo

#### If Else

In [15]:
if not jomblo:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

Sasuke jomblo

In [16]:
if jomblo:
    print("Sasuke jomblo")
else:
    print("Sasuke tidak jomblo")

Sasuke tidak jomblo

#### And

+ 1 & 1 = True
+ 1 & 0 = False
+ 0 & 1 = False
+ 0 & 0 = False

In [17]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 and umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

Sasuke Kecil

#### Or

+ 1 & 1 = True
+ 1 & 0 = True
+ 0 & 1 = True
+ 0 & 0 = False

In [18]:
if umur > 17:
    print("Sasuke Dewasa")
elif umur > 14 or umur < 17:
    print("Sasuke Remaja")
else:
    print("Sasuke Kecil")

Sasuke Remaja

In [19]:
buah = ["nanas", "apel", "pepaya", "manggis"]

if buah[1] == "manggis":
    print("True")
else:
    print("False")

False

### Case 11

Buat sebuah program diskon dalam jupyter-notebook, jika kita order makanan dari Aplikasi dengan pesanan melebihi dari 100.000 maka diskonnya adalah 50% dengan maksimum diskon 50.000. Jika pesanan kurang dari 100.000 maka diskonnya adalah 30% dengan maksimum diskon 30.000! Lanjutkan dengan konversi program tersebut menjadi sebuah program python atau `*.py` dengan nama `diskon.py` yang dapat menerima input dari terminal!

In [20]:
harga = 30000
Diskon = ["50% maks Rp 50.000","30% maks Rp 30.000","0%"]
if harga > 75000:
    print(f"Potongan Belanja : {Diskon[0]}" )
elif harga > 30000 and harga <= 75000:
    print(f"Potongan Belanja : {Diskon[1]}" )
else :
    print(f"Potongan Belanja : {Diskon[2]}" )

Potongan Belanja : 0%

# **Loop atau Perulangan**

In [21]:
fruits = ["nanas", "pisang", "semangka", "apple"]

#### For

In [22]:
for fruit in fruits:
    print(fruit)

nanas
pisang
semangka
apple

In [23]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i, fruit in enumerate(fruits):
    print(f'{fruit} buah ke {i}')

nanas buah ke 0
pisang buah ke 1
semangka buah ke 2
apple buah ke 3

#### While

In [25]:
count = 0

while (count < 9):
   print('The count is:', count)
   count = count + 1

print("\nGood bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

Good bye!

### Break

In [26]:
for letter in 'Python':
    print("Current Letter :", letter)
    
    if letter == 'h':
        break

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : h

In [27]:
var = 10

while var > 0:
    var = var - 1
    print("Current variable value :", var)
    
    if var == 5:
        break

Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 5

### Pass

In [28]:
for letter in 'Python':
    if letter == 'h':
        pass
        print('This is pass block')
        
    print('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
This is pass block
Current Letter : h
Current Letter : o
Current Letter : n

In [50]:
n=5
 
i=1;j=0

while(i<=n):
    while(j<=i-1):
        print("* ",end="") 
        j+=1
    print("\r") 
    j=0;i+=1

*
* *
* * *
* * * *
* * * * *

### Case 12

Buat program dengan masukan sebuah integer, misal `5` maka program tersebut mencetak pola sebagai berikut:

```
*
**
***
****
*****
****
***
**
*
```

Buat program tersebut di dalam jupyter-notebook! konversi juga menjadi sebuah file python dengan nama `star-triangle.py` yang dapat menerima masukan dari terminal!

In [30]:
jumlah_int = 10
for i in range(jumlah_int):
    for j in range(i):
        print("*", end="")
    print("")
for i in range(jumlah_int):
    for j in range(jumlah_int):
        print("*", end="")
    print("")
    jumlah_int -=1

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

# **Function**

### Void Function

In [31]:
count = 0

while (count < 9):
   print('The count is:', count)
   count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8

In [32]:
def print_coba():
    a = 10
    b = 12
    print(a+b)

In [33]:
print_coba()

22

### Function with Return value

In [34]:
def print_coba():
    a = 10
    b = 12
    return (a+b)

In [35]:
print_coba()

22

In [36]:
def perkalian(a, b):
    hasil_kali = a * b
    return hasil_kali

In [37]:
perkalian(10, 2)

20

In [38]:
def kali_bagi(a, b):
    hasil_kali = a * b
    hasil_bagi = a / b
    return hasil_kali, hasil_bagi

In [39]:
hasil_kali, hasil_bagi = kali_bagi(10, 2)

print(hasil_kali)
print(hasil_bagi)

20
5.0

In [40]:
f = 20

def coba_var(a, b):
    global c
    c = 10
    
    d = a + b + c + f
    
    return d

In [41]:
coba_var(10, 20)

60

In [42]:
c

10

### Case 13

Konversi **Case 3** menjadi 3 buah fungsi yaitu `luas`, `volume`, dan `keliling` dengan menggunakan jupyter-notebook! Lalu konversi juga menjadi sebuah file python dengan nama `balok.py` mana program tersebut dapat input dari terminal!

## LUAS,KELILING,VOLUME MENGGUNAKAN FUNCTION WITH RETURN

In [43]:
def PERHITUNGAN(Panjang,Lebar,Tinggi):
    Luas_Balok = 2 * (Panjang*Lebar + Panjang*Tinggi + Lebar*Tinggi)
    Keliling_Balok =  4 * (Panjang + Lebar + Tinggi)
    Volume_Balok = Panjang * Lebar * Tinggi
    return Luas_Balok,Keliling_Balok,Volume_Balok

In [44]:
Luas_Balok, Keliling_Balok,Volume_Balok = PERHITUNGAN(500,5,10)
print(f"Luas Balok : {Luas_Balok} cm^2")
print(f"Keliling Balok : {Keliling_Balok} cm")
print(f"Volume Balok = {Volume_Balok} cm^3")

Luas Balok : 15100 cm^2
Keliling Balok : 2060 cm
Volume Balok = 25000 cm^3

## KELILING BALOK

In [45]:
def Keliling_Balok():
    Panjang = 500
    Lebar = 5
    Tinggi = 10
    return (4 * (Panjang + Lebar + Tinggi))

In [46]:
print(f"Keliling Balok : {Keliling_Balok()} cm")

Keliling Balok : 2060 cm

## VOLUME BALOK

In [47]:
Panjang = 500

def Hitung_Volume_Balok(Lebar):
    global Tinggi
    Tinggi = 10
    
    Volume_Balok = Panjang*Lebar*Tinggi
    
    return Volume_Balok

In [48]:
print(f"Volume Balok = {Hitung_Volume_Balok(5)} cm^3")

Volume Balok = 25000 cm^3

In [49]:
Tinggi

10